:host {
  box-sizing: border-box;

  margin: 0 auto;
  padding: 32px;

  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: top;
}

@media (max-width: 768px) {
  :host {
    gap: 50px;
  }
}