@defer {
@for (product of products(); track $index) {
<!-- we were tracking by product.id, however, recently I learned it can be more performant to track by index where you can (shout out to Sander Elias) -->
<kendo-card width="360px">
  <img [src]="product.image_url" kendoCardMedia alt="coffee product image" />
  <kendo-card-body>
    <h4>{{ product.name }}</h4>
    <hr kendoCardSeparator />
    <p>
      {{ product.description }}
    </p>
  </kendo-card-body>
  <kendo-card-footer class="k-hstack">
    <span class="price">Price {{ product.price | currency }}</span>
    <span>Region {{ product.region }}</span>
  </kendo-card-footer>
</kendo-card>
}
@empty {
<kendo-loader type="infinite-spinner" size="large"></kendo-loader>
<p>Product gathering is hard work.</p>
}
} @loading (minimum 2s) {
<skeleton-card></skeleton-card>
<skeleton-card></skeleton-card>
<skeleton-card></skeleton-card>
<skeleton-card></skeleton-card>
}