:host {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 32px;
  align-items: top;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  :host {
    gap: 50px;
  }
}