<h1>Our Coffee Shop</h1>
<section class="about">
    <p>We are passionate about delivering the best cups of coffee and creating a warm, inviting atmosphere for our customers.</p>
    <p>Our menu includes a range of delicious beverages, including our signature lattes and seasonal specials. We also offer a variety of snacks and pastries to pair perfectly with your coffee. </p>
    <p>Our coffee shop is designed to be a cozy and comfortable spot to unwind, catch up with friends, or get some work done. We take pride in our beautiful ambiance - and we think you'll love it too!</p>
    <p>If you're in the neighborhood, we would love to have you stop by and say hello. We're excited to share our love of coffee with you.</p>
</section>

<img ngSrc="assets/coffee-images/5.png" width="300" height="300"> 
<!-- todo: fix path -->

