:host {
    margin: 0 auto;
    padding: 32px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    gap: 32px;
}

.about {
    max-width: 800px;
    font-size: 18px;
    font-weight: 100;
}
  